body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    background: #e6ecf0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.blog-form {
    margin-top: 30px;
    padding-bottom: 30px;
}

.blog-detail {
    margin-top: 30px;
    padding-bottom: 30px;
}

.blog-content {
    border-radius: 10px;
    background: #fff;
    color: #595959;
}
.blog-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.login-logo {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #007bff;
}

.copyright {
    position: absolute;
    right: 0;
    bottom: 0;
}
