<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head th:include="layout :: htmlhead">
</head>

<nav th:replace="layout :: header">
</nav>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center" style="margin-top: 30px">
                <ul class="list-group blog-content">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="#" th:href="${blog.userName}">
                                    <img src="#" th:src="${blog.userAvatar}"
                                         class="blog-avatar"/>
                                </a>
                                <a href="#" th:href="@{'/user/' + ${blog.userName}}"
                                   th:text="' ' + ${blog.userName}">&nbsp;</a>
                            </div>
                            <div class="col-lg-10">
                                <br>
                                <div>
                                    <a class="badge-pill badge-primary text-white" th:text="'#' + ${blog.tagName}"
                                       th:if="${blog.tagName} ne null"
                                       th:href="@{'/tag/' + ${blog.blog.getBlogTagId()}}"></a>
                                    <span th:text="${blog.blogPreview}" class="text-left"></span>
                                </div>
                                <div class="float-right ml-2 mr-2">
                                <span>
                                    <a href="#" th:text="${blog.getTimeString()}"></a>|
                                </span>
                                    <span>
                                        <a th:href="@{'/blog/like/' + ${blog.id}(redirect=${redirect})}">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span th:text="'&nbsp;' + ${blog.blog.blogLike}"></span>
                                        </a> |
                                        <a th:href="@{'/blog/dislike/' + ${blog.id}(redirect=${redirect})}">
                                            <i class="fa fa-thumbs-down"></i>
                                            <span th:text="'&nbsp;' + ${blog.blog.blogUnLike}"></span>
                                        </a> |
                                        <a href="#">
                                            <i class="fa fa-comments"></i>
                                            <span th:text="'&nbsp;' + ${blog.blog.blogComment}"></span>
                                        </a>
                                        <a th:href="@{'/blog/edit/' + ${blog.id}}"
                                           class="text-info">编辑</a>|
                                        <a th:href="@{'/blog/delete/' + ${blog.id}}" class="text-danger">删除</a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-12 align-self-center comments">
                <div class="comment-wrap">
                    <div class="photo">
                        <a href="#" th:href="${user.userName}">
                            <img src="#" th:src="${user.userAvatar}" class="blog-avatar"/>
                        </a>
                    </div>
                    <div class="comment-block">
                        <form action="/comment" method="post">
                            <textarea name="commentContent" cols="30" rows="3" placeholder="你的看法？"></textarea>
                            <input type="hidden" name="blogId" value="{{.blog.BlogId}}" th:value="${blog.id}">
                            <input type="hidden" name="fromUserId" value="{{.thisUser.UserId}}"
                                   th:value="${user.userId}">
                            <input type="hidden" name="redirect" value="{{.redirect}}" th:value="${redirect}">
                            <button type="submit" class="btn btn-info float-right">
                                <i class="far fa-paper-plane">发送</i>
                            </button>
                        </form>
                    </div>
                </div>

                <div th:each="comment, iter : ${comments}">
                    <div class="comment-wrap">
                        <div class="photo">
                            <a href="#" th:href="@{/user/${comment.commFromName}}">
                                <img src="#" th:src="${comment.commFromAvatar}" class="blog-avatar"/>
                            </a>
                            <a href="#" th:href="@{/user/${comment.commFromName}}"
                               th:text="${comment.commFromName}">CommFromName</a>
                        </div>
                        <div class="comment-block">
                            <div>
                                <a href="#" th:unless="${#strings.isEmpty(comment.commToName)}" th:href="${comment.getCommToName()}" th:text="'@' + ${comment.getCommToName()}">
                                    @CommToName</a>&nbsp;
                                <p class="comment-text" th:text="${comment.commContent}">
                                </p>
                            </div>
                            <div class="bottom-comment">
                                <div class="comment-date" th:text="${comment.commTime}"></div>
                                <ul class="comment-actions">
                                    <li class="reply">
                                        <a href="#"
                                           th:href="@{/comment/like(comm_id=${comment.commId}, redirect=${redirect})}">
                                            <i class="fa fa-heart"></i>
                                            <span th:text="' ' + ${comment.commLike}"></span>
                                        </a>
                                    </li>
                                    <li class="reply">
                                        <a data-toggle="modal"
                                           th:attrappend="data-target='#replyModal' + ${iter.index}"
                                           th:attrprepend="data-userid=${comment.commFromUid}">
                                            <i class="fa fa-reply"></i>
                                        </a>
                                    </li>
                                    <li class="reply">
                                        <!--fixme comment/delete-->
                                        <a th:href="@{/comment/delete/(comm_id=${comment.commId}, redirect=${redirect})}"><i
                                            class="fa fa-trash-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" th:id="'replyModal' + ${iter.index}" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="replyModalLabel"
                                        th:text="'回复：' + ${comment.commFromName}">回复:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="comment-block modal-body">
                                    <form action="/comment" method="post">
                                        <textarea name="commentContent" cols="30" rows="3"
                                                  placeholder="你的看法？"></textarea>
                                        <input type="hidden" name="blogId" th:value="${blog.id}">
                                        <input type="hidden" name="fromUserId" th:value="${user.userId}">
                                        <input type="hidden" name="redirect" th:value="${redirect}">
                                        <button type="submit" class="btn btn-info float-right">
                                            <i class="far fa-paper-plane">发送</i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


