<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head th:include="layout :: htmlhead">
</head>

<nav th:replace="layout :: header">
</nav>

<body>
<div layout:fragment="content">
    <div class="container" style="margin-top: 30px; margin-bottom: 20px;">
        <div class="row">

            <!--user detail-->
            <div class="align-self-center col-lg-12" style="margin-top: 30px">
                <center>
                    <img th:src="${user.userAvatar}" class="user-avatar"
                         style="width: 128px;height: 128px; border-radius: 50%"/>
                    <br>
                    <h4><span class="badge badge-primary" th:text="${user.userName}"></span></h4>
                    <p class="text-primary" th:text="'签名： ' + ${user.userBio}">
                    </p>
                    <button type="button" class="btn btn-primary">
                        关注 <span class="badge badge-light" th:text="${user.userFollowing}">UserFollowing</span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        粉丝 <span class="badge badge-light" th:text="${user.userFollowers}">UserFollowers</span>
                    </button>
                    <div th:if="${user.userId ne loginUserId}">
                        <a href="/user/UserName/unfollow" th:href="@{'/user/' + ${user.userName} + '/unfollow'}" th:if="${followed}" class="btn btn-secondary">取消关注</a>
                        <a href="/user/UserName/follow" th:href="@{'/user/' + ${user.userName} + '/follow'}"  th:unless="${followed}"
                           class="btn btn-info">关注ta</a>
                    </div>
                </center>
            </div>
            <!--user blogs-->
            <div class="col-lg-12" style="margin-top: 30px">
                <ul class="list-group blog-content" th:each="blog : ${blogs}">

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="/user/LeeR" th:href="@{'/user/' + ${blog.userName}}">
                                    <img src="{{.BlogUserAvatar}}" th:src="${blog.userAvatar}" class="blog-avatar"/>
                                </a>
                                <a href="/user/{{.BlogUsername}}" th:href="@{'/user/' + ${blog.userName}}"
                                   th:text="'&nbsp;' + ${blog.userName}"></a>
                            </div>
                            <div class="col-lg-10">
                                <br>
                                <div>
                                    <a class="badge-pill badge-primary text-white" th:text="'#' + ${blog.tagName}"
                                       th:if="${blog.tagName} ne null"
                                       th:href="@{'/tag/' + ${blog.blog.getBlogTagId()}}"></a>
                                    <span th:text="${blog.blogPreview}" class="text-left"></span>
                                </div>
                                <div class="float-right ml-2 mr-2">
                                <span>
                                    <a href="#" th:text="${blog.getTimeString()}">2018-01-07 00:00:00</a> |
                                    <a href="/blog/{{.BlogId}}" th:href="@{'/blog/' + ${blog.id}}">详情</a>|</span>
                                    <span>
                                    <a href="#" th:href="@{'/blog/like/' + ${blog.id}(redirect=${redirect})}">
                                        <i class="fa fa-thumbs-up"></i>
                                        <span th:text="'&nbsp;' + ${blog.blog.blogLike}"></span>
                                    </a> |
                                    <a href="#" th:href="@{'/blog/dislike/' + ${blog.id}(redirect=${redirect})}">
                                        <i class="fa fa-thumbs-down"></i>
                                        <span th:text="'&nbsp;' + ${blog.blog.blogUnLike}"></span>
                                    </a> |
                                    <a href="#">
                                        <i class="fa fa-comments"></i>
                                        <span th:text="'&nbsp;' + ${blog.blog.blogComment}"></span>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <p class="text-primary text-lg-center" th:unless="${blogs}">ta 什么也没留下</p>

            </div>
        </div>
    </div>
</div>
</body>
</html>