<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head th:include="layout :: htmlhead">
</head>

<nav th:replace="layout :: header">
</nav>

<body>
<div layout:fragment="content">
    <!--show blogs with this tag-->
    <div class="container">
        <div class="row">
            <!--tag-->
            <div class="col-lg-12 align-self-center" style="margin-top: 30px">
                <h2 class="text-center" th:text="${tag.tagName}">
                </h2>
                <h4 class="text-center" th:text="${#dates.format(tag.tagTime, 'yyyy-MM-dd')}"></h4>
            </div>
            <!--blogs-->
            <div class="col-lg-12" style="margin-top: 30px">
                <ul class="list-group blog-content" th:each="blog : ${blogs}">

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="/user/LeeR" th:href="@{'/user/' + ${blog.userName}}">
                                    <img src="{{.BlogUserAvatar}}" th:src="${blog.userAvatar}" class="blog-avatar"/>
                                </a>
                                <a href="/user/{{.BlogUsername}}" th:href="@{'/user/' + ${blog.userName}}"
                                   th:text="'&nbsp;' + ${blog.userName}"></a>
                            </div>
                            <div class="col-lg-10">
                                <br>
                                <div>
                                    <a class="badge-pill badge-primary text-white" th:text="'#' + ${blog.tagName}"
                                       th:if="${blog.tagName} ne null"
                                       th:href="@{'/tag/' + ${blog.blog.getBlogTagId()}}"></a>
                                    <span th:text="${blog.blogPreview}" class="text-left"></span>
                                </div>
                                <div class="float-right ml-2 mr-2">
                                <span>
                                    <a href="#" th:text="${blog.getTimeString()}">2018-01-07 00:00:00</a> |
                                    <a href="/blog/{{.BlogId}}" th:href="@{'/blog/' + ${blog.id}}">详情</a>|</span>
                                    <span>
                                    <a href="#" th:href="@{'/blog/like/' + ${blog.id}(redirect=${redirect})}">
                                        <i class="fa fa-thumbs-up"></i>
                                        <span th:text="'&nbsp;' + ${blog.blog.blogLike}"></span>
                                    </a> |
                                    <a href="#" th:href="@{'/blog/dislike/' + ${blog.id}(redirect=${redirect})}">
                                        <i class="fa fa-thumbs-down"></i>
                                        <span th:text="'&nbsp;' + ${blog.blog.blogUnLike}"></span>
                                    </a> |
                                    <a href="#">
                                        <i class="fa fa-comments"></i>
                                        <span th:text="'&nbsp;' + ${blog.blog.blogComment}"></span>
                                    </a>
                                </span>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                <p class="text-primary text-lg-center" th:unless="${blogs}">ta 什么也没留下</p>

            </div>
        </div>
    </div>
</div>
</body>
</html>